body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: white;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    width: 250px;
    box-shadow: 0 0 10px gray;
}

.card img {
    width: 100%;
}

.gallery img {
    width: 200px;
    margin: 10px;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark nav {
    background: black;
}

.dark .card {
    background: #1e1e1e;
}
